<div class="nested-fields">
  <fieldset>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :initial_weight %>
      <%= f.number_field :initial_weight, class: "form-control initial-weight" %>
    </div>
    <div class="form-group">
      <%= f.label :increment_weight_by, "Upon successful completion, increment weight by how many lbs" %>
      <%= f.number_field :increment_weight_by, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :type %>
      <%= f.select :type, Exercise.types_for_select, {prompt: "please select an exercise type"}, class: "form-control exercise-type" %>
    </div>
  </fieldset>
  <%= link_to_remove_association "remove", f, class: "btn btn-danger btn-sm" %>
</div>
