<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      <b><%= @workout.name %></b>
      <span class="badge"><%= @workout.total_attempts %></span>
    </h1>
  </div>

  <div class="table-responsive">
    <table class="table">
      <tbody>
        <% @workout.exercises.each do |exercise| %>
        <tr>
          <td>
            <%= exercise.name %>
            <span class="right">
              <%= exercise.routine %>
            </span>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="form-action">
  <%= link_to "<span class='icon-chevron-left'></span> Back".html_safe, workouts_path, class: "btn btn-default btn-lg btn-block" %>
</div>

<% if workout_used_in_programs? %>
  <div class="form-action">
    <%= link_to "<span class='icon-remove'></span> Delete".html_safe, confirm_delete_workout_path(@workout), class: "btn btn-danger btn-lg btn-block" %>
  </div>
<% else %>
  <div class="form-action">
    <%= link_to "<span class='icon-remove'></span> Delete".html_safe, workout_path(@workout), method: "delete", class: "btn btn-danger btn-lg btn-block" %>
  </div>
<% end %>




