<div class="panel panel-default">
  <div class="panel-heading workout-title">
    <h1 class="panel-title">
      <b><%= @program.name %></b>
      <% if @program.active %>
        <span class="active"><%= link_to "active", "#", class: "btn btn-success" %></span>
      <% end %>
    </h1>
  </div>
  <div class="panel-body">
    <%= link_to "View Exercises", "#", class: "btn btn-sm btn-default view-exercises" %>
    <ul id="workout-list">
    <% @program.workouts.each do |workout| %>
      <li class="program-workout">
        <%= workout.name %>
        <ul class="program-exercise-list">
        <% workout.exercises.each do |exercise| %>
          <li>
            <%= exercise.name %>
            <span> - <%= exercise.routine %></span>
          </li>
        <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<% unless @program.active %>
  <div class="form-action">
    <%= link_to "<span class='glyphicon glyphicon-ok'></span> Make Active".html_safe, make_active_program_path(@program), class: "btn btn-default btn-lg btn-block", method: "post" %>
  </div>
<% end %>

<div class="form-action">
  <%= link_to "<span class='glyphicon glyphicon-remove'></span> Delete".html_safe, program_path(@program), method: "delete", class: "btn btn-danger btn-lg btn-block" %>
</div>