<div class="workout-result-summary-data-show">
  <div class="name-and-date">
    <p><b><%= @workout_result.workout.name.titleize %></b></p>
    <p class="date"><%= @workout_result.formatted_date %></p>
  </div>
  <div class="result-status-button">
    <%= link_to @workout_result.status, "#", class: "btn #{@workout_result.button_styling}" %>
  </div>
</div>

<% @workout_result.exercise_results.each do |exercise_result| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= exercise_result.exercise.name %>
      <span class="right">
        <%= link_to exercise_result.status.html_safe, "#", class: "btn #{exercise_result.button_styling}" %>
      </span>
    </div>
    <div class="panel-body">
      <p>Prescribed Lift: 5x5 @ 200</p>
      <p>Next Lift: 5x5 @ 205</p>
      <ul class="list-group">
      <% exercise_result.lift_results.each do |lift_result| %>
        <li class="list-group-item">
          <%= lift_result.display_result %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>



