<div class="workout-result-summary-data-show">
  <div class="name-and-date">
    <p><b><%= @workout_result.workout_name.titleize %></b></p>
    <p class="date"><%= formatted_date(@workout_result) %></p>
  </div>
</div>

<% @workout_result.exercise_results.each do |exercise_result| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= exercise_result.exercise_name %>
      <span class="right">
        <%= link_to status_icon(exercise_result).html_safe, "#", class: "btn #{button_styling(exercise_result)}" %>
      </span>
    </div>
    <div class="panel-body">
      <p>Prescribed Lift: <%= exercise_result.prescribed_lift %></p>
      <p class="next-lift">Next Lift: <%= exercise_result.next_lift %></p>
      <ul class="list-group">
      <% exercise_result.lift_results.each do |lift_result| %>
        <li class="list-group-item">
          <%= display_lift(lift_result).html_safe %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @workout_result.lastest_workout? && @workout_result.associated_workout_exists? %>
  <div class="form-action">
    <%= link_to "<span class='icon-edit'></span> Edit".html_safe, edit_workout_result_path(@workout_result), class: "btn btn-default btn-lg btn-block" %>
  </div>
<% end %>

<div class="form-action">
  <%= link_to "<span class='icon-remove'></span> Delete".html_safe, workout_result_path(@workout_result), method: "delete", class: "btn btn-danger btn-lg btn-block" %>
</div>



