<%= form_for @exercise do |f|  %>
  <% if @exercise.errors.any? %>
    <div class="alert alert-danger alert-custom">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>oh snap! found some errors</strong>
      <ul>
      <% @exercise.errors.messages.each do |attr, msg| %>
        <li><%= msg.first %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1><%= @exercise.name.titleize %></h1>

  <fieldset>
    <div class="on-success">
      <h3>Upon Success</h3>
      <div class="form-group">
        <%= f.label :increase_weight_by, "Increase weight by how many lbs" %>
        <%= f.number_field :increase_weight_by, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :increase_strategy, "How many successful attempts before increasing" %>
        <%= f.number_field :increase_strategy, class: "form-control" %>
      </div>
    </div>

    <div class="on-failure">
      <h3>Upon Failure</h3>
      <div class="form-group">
        <%= f.label :decrease_weight_by, "Decrease weight by how many lbs" %>
        <%= f.number_field :decrease_weight_by, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :decrease_strategy, "How many failed attempts before decreasing" %>
        <%= f.number_field :decrease_strategy, class: "form-control" %>
      </div>
    </div>

    <div style="clear:both"></div>

    <h4>
      Add Sets, Reps, and Weights
      <%= link_to_add_association "add set", f, :lift_details, data: {:"association-insertion-method" => "after" }, class: "btn btn-success btn-sm add-lift-detail" %>
    </h4>

    <%= f.fields_for :lift_details do |builder| %>
      <%= render "lift_detail_fields", f: builder %>
    <% end %>
  </fieldset>
<% end %>


<div class="form-action">
  <%= link_to "<span class='icon-edit'></span> Update Exercise".html_safe, "#", class: "btn btn-default btn-lg btn-block", id: "update-exercise-submit" %>
</div>