<div class='specific-attributes'>
  <div class="form-group">
    <label for="sets">Sets</label>
    <input class='form-control pyramid_<%= @id %>' id='workout_exercises_attributes_<%= @id %>_sets' name='workout[exercises_attributes][<%= @id %>][sets]' type='number'/>  </div>
  <div class="form-group">
    <label for="starting_rep_number">Starting rep number</label>
    <input class='form-control pyramid_<%= @id %>' id='workout_exercises_attributes_<%= @id %>_starting_rep_number' name='workout[exercises_attributes][<%= @id %>][starting_rep_number]' type='number'/>
  </div>
  <div class="form-group">
    <label for="delta">Change amount between sets</label>
    <input class='form-control pyramid_<%= @id %>' id='workout_exercises_attributes_<%= @id %>_delta' name='workout[exercises_attributes][<%= @id %>][delta]' type='number'/>
  </div>
  <div class="preview" data-id="<%= @id %>"><a href=​"#">​preview​</a>​</div>
  <div class="form-group">
    <input checked="checked" id='workout_exercises_attributes_<%= @id %>_direction' name='workout[exercises_attributes][<%= @id %>][direction]' type="radio" value="ascending"/>
    <span>Ascending</span><span class="ascending"></span></br>
    <input id='workout_exercises_attributes_<%= @id %>_direction' name='workout[exercises_attributes][<%= @id %>][direction]' type="radio" value="descending"/>
    <span>Descending</span><span class="descending"></span>
  </div>
</div>