<div class='specific-attributes'>
  <div class="form-group">
    <label for="sets">Sets</label>
    <input class='form-control pyramid_<%= @id %>' id='workout_exercises_attributes_<%= @id %>_sets' name='workout[exercises_attributes][<%= @id %>][sets]' type='number'/>  </div>
  <div class="form-group">
    <label for="start_rep">Starting rep number</label>
    <input class='form-control pyramid_<%= @id %>' id='workout_exercises_attributes_<%= @id %>_start_rep' name='workout[exercises_attributes][<%= @id %>][start_rep]' type='number'/>
  </div>
  <div class="form-group">
    <label for="delta_rep">Change reps between sets by</label>
    <input class='form-control pyramid_<%= @id %>' id='workout_exercises_attributes_<%= @id %>_delta_rep' name='workout[exercises_attributes][<%= @id %>][delta_rep]' type='number'/>
  </div>
  <div class="form-group">
    <label for="delta_weight">Change weight between sets by</label>
    <input class='form-control pyramid_<%= @id %>' id='workout_exercises_attributes_<%= @id %>_delta_weight' name='workout[exercises_attributes][<%= @id %>][delta_weight]' type='number'/>
  </div>
  <div class="preview" data-id="<%= @id %>"><a href=​"#">​preview​</a>​</div>
  <div class="form-group">
    <input checked="checked" id='workout_exercises_attributes_<%= @id %>_direction' name='workout[exercises_attributes][<%= @id %>][direction]' type="radio" value="ascending"/>
    <span>Ascending</span><span class="ascending"></span></br>
    <input id='workout_exercises_attributes_<%= @id %>_direction' name='workout[exercises_attributes][<%= @id %>][direction]' type="radio" value="descending"/>
    <span>Descending</span><span class="descending"></span>
  </div>
</div>