<div class='specific-attributes'>
  <div class='form-group'>
    <label for='sets'>Sets</label>
    <input class='form-control' id='workout_exercises_attributes_<%= @id %>_sets' name='workout[exercises_attributes][<%= @id %>][sets]' type='number'/>
  </div>
  <div class='form-group'>
    <label for='reps'>Reps</label>
    <input class='form-control' id='workout_exercises_attributes_<%= @id %>_reps' name='workout[exercises_attributes][<%= @id %>][reps]' type='number'/>
  </div>
  <div class='form-group'>
    <label for='time'>Total time in seconds</label>
    <input class='form-control' id='workout_exercises_attributes_<%= @id %>_time' name='workout[exercises_attributes][<%= @id %>][time]' type='number'/>
  </div>
</div>

