<!DOCTYPE html>
<html>
<head>
  <title>Popeye</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="custom-navbar" role="navigation">
  <div class="custom-navbar-header">
    <% if current_user %>
      <span class="navbar-menu-icon"><a id="simple-menu" href="#sidr"><i class="icon-reorder white icon-large"></i></a></span>
    <% end %>
    <span class="navbar-title">Popeye</span>
  </div>

  <% if current_user %>
    <div id="sidr">
      <ul class="list-group">
        <li><%= link_to "Workout Library", workouts_path, class: "list-group-item" %></li>
        <li><%= link_to "Create New Workout", new_workout_path, class: "list-group-item" %></li>
        <li><%= link_to "Program Library", programs_path, class: "list-group-item" %></li>
        <li><%= link_to "Create New Program", new_program_path, class: "list-group-item" %></li>
        <li><%= link_to "Workout Log", workout_log_path, class: "list-group-item" %></li>
        <li><%= link_to "Profile", user_path(current_user), class: "list-group-item" %></li>
      </ul>
    </div>
  <% end %>
</nav>

<div class="container">
  <% flash.each do |name, msg| %>
    <% css_class = name == :notice ? "success notice-custom" : "danger alert-custom" %>
    <div class="alert alert-<%= css_class %>">
      <button type='button' class='close' data-dismiss='alert'>×</button>
      <%= msg %>
    </div>
  <% end %>


  <%= yield %>
</div>

</body>
</html>
